<div>

    <!-- Single button -->
    <div class="btn-group" dropdown is-open="status.isopen">
      <button type="button" class="btn btn-primary dropdown-toggle" ng-disabled="disabled">
        BaseCamp Clone <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li ng-repeat="choice in items">
          <a href="{{ choice.link }}">{{choice.name}}</a>
        </li>
        <li class="divider"></li>
        <li ng-repeat="project in projects">
            <a href="#/projects/{{ project.id }}" >{{ project.name }}</a>
        </li>
      </ul>
    </div>
</div>