<h1>{{ event.summary }}</h1>
<h2>{{ event.description }}</h2>
<p>{{ event.starts_at }}</p>
<h4>Edit or Delete {{ event.summary }}</h4>
<div>Event Name: <input ng-model="calNameE" /></div>
<div>Event Description: <input ng-model="calDescriptionE" /></div>
<p>Proper format for start date is: 2014-12-28</p>
<div>Start Date:
            <p class="input-group">
              <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="calStartsE" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
    </div>
<button ng-click="editEvent();">Edit {{ event.summary }}</button>
<button ng-click="deleteEvent();">Delete {{ event.summary }}</button>