<h2><div><strong>{{ project.name }}</strong></div>
<div>{{ project.description }}</div></h2>
<h3>Topics</h3>
<p>Filter Topics</p>
<input ng-model="searchTopic">
<br><br>
<p>Filter by Type (Message works):</p>
<input ng-model="searchType">
<br><br>
<p>Filter by Year Created (2014 works):</p>
<input ng-model="searchTime">
<p>Only with attachments: <input type="checkbox" ng-model="attachmentBoolean" /></p>
<div ng-repeat="topic in topics | filter: searchTopic | filter: hasAttachment | topicTypeFilter: searchType | creationTimeFilter: searchTime">
    <div>
        <strong><a href="#/projects/{{ project.id }}/discussion/{{ topic.topicable.id }}">{{ topic.title }}</a></strong>
        <p>{{ topic.excerpt }}</p>
    </div>
</div>

<h3>Calendars</h3>
<p>Filter Calendars</p>
<input ng-model="searchCal">
<div ng-repeat="event in calendars | filter: searchCal">
    <div>
        <a href="#/calendars/{{ event.id }}" >{{ event.name }}</a>
    </div>
</div>
<div>
    <h3>Create Calendar</h3>
    <div>Calendar Name: <input ng-model="calendarName" /></div>
    <button ng-click="newCalendar();">Create New Calendar</button>
</div>
<div>
    <h3>Edit or Delete Project</h3>
    <div>Project Name: <input ng-model="editedName" /></div>
    <div>Project Description: <input ng-model="editedDescription" /></div>
    <button ng-click="editProject(project.id);">Edit {{ project.name }}</button>
</div>
<button ng-click="deleteProject(project.id);">Delete {{ project.name }}</button>


<div ng-repeat="project in projects">
    <a href="#/projects/{{ project.id }}" >{{ project.name }}</a>
</div>

