{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <title>Basecamp Clone</title>
    <!-- jQuery -->
    <script src="{% static "js/vendors/jquery.js" %}"></script>
    <!------- Angular ------->
    <script src="{% static "js/vendors/angular/angular.js" %}"></script>
    <script src="{% static "js/vendors/angular/angular-resource.js" %}"></script>
    <script src="{% static "js/vendors/angular/angular-route.js" %}"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-sanitize.js"></script>

    <!------- Bootstrap ------->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <script src="{% static "js/vendors/angular-ui/ui-bootstrap-tpls-0.11.2.js" %}"></script>


    <!-- JavaScript -->
    <script src="{% static "js/app.js" %}"></script>

    <!------- Controllers ------->
    <script src="{% static "js/controllers/homeController.js" %}"></script>
    <script src="{% static "js/controllers/projectController.js" %}"></script>
    <script src="{% static "js/controllers/calendarController.js" %}"></script>
    <script src="{% static "js/controllers/eventController.js" %}"></script>
    <script src="{% static "js/controllers/discussionController.js" %}"></script>

    <!------ Factories ---->
    <script src="{% static "js/factories/projectFactory.js" %}"></script>
    <script src="{% static "js/factories/messageResource.js" %}"></script>
    <script src="{% static "js/factories/calendarResource.js" %}"></script>

    <!------ Filters ---->
    <script src="{% static "js/filters/topicType.js" %}"></script>
    <script src="{% static "js/filters/creationTime.js" %}"></script>

    <!------ Directives ---->
    <script src="{% static "js/directives/buttonDirective.js" %}"></script>
    <script src="{% static "js/directives/templateDirective.js" %}"></script>
    <script src="{% static "js/directives/searchBarDirective.js" %}"></script>
    <script src="{% static "js/directives/navbarDirective.js" %}"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="{% static "css/index.css" %}">

</head>
<body>
    <div class="container">
        <div class="row" ng-app="baseclone">

            <navbar-a class="col-md-12"></navbar-a>


            <div class="col-md-12" ng-view>

            </div>
        </div>

    </div>
</body>
</html>